.info-container {
  display: flex;
}

.content-container {
  overflow: scroll;
}

.demo-container {
  display: flex;
  .site {
    margin: -100px -80px;
  }
}
.card-header {
  height: 20px;
  font-size: 34px;
  color: #e53935;
  font-family: "Crete Round", serif;
}

.card-header-left {
  width: 60vw;
  text-align: right;
}

.phone {
  width: 700px;
  height: 500px;
}

.phone-l {
  margin: 0 -190px 0 -170px;
}

.phone-r {
  margin: 0 -170px 0 -190px;
}

.site {
  width: 900px;
  height: 700px;
}

.screen {
  width: 40vw;
  height: 30vw;
}

.info-p {
  font-family: "Crete Round", serif;
  font-size: 25px;
}

.info-l {
  margin: 20px 0 0 -70px;
  font-family: "Crete Round", serif;
  font-size: 25px;
}

.info-btn-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.unclickable {
  pointer-events: none;
}
