.Projects>.cards-slider>.cards-slider-wrapper>.Card {
  >.CodeMirror {
    visibility: hidden;
  }

  >.additional-info-container {
    visibility: hidden;
  }
}

.Card {
  width: 800px;
  // overflow: hidden;

  .method-name {
    margin-left: 40px;
  }

  .additional-info-container {
    padding: 20px;
    max-height: 200px;
    overflow: scroll;
  }

}

.favorite-popup-container>.Card {
  position: absolute;
  top: 100px;
  background-color: blue;
  border-radius: 10px;
}