.Header {
  height: 100px;
}

.nav-button {
  text-decoration: none;
  position: relative;
  font-family: "Cinzel Decorative", cursive;
  font-size: 25px;
  font-weight: 600;
  &:visited {
    color: #e53935;
  }
  &:link {
    color: #e53935;
  }
  &:hover {
    color: whitesmoke;
  }
}

.logo-nav-button {
  text-decoration: none;
  font-weight: 400;
  position: relative;
  top: 57px;
  left: 51px;
  height: 150px;
  width: 150px;
  &:visited {
    color: #e53935;
  }
  &:link {
    color: #e53935;
  }
  &:hover {
    color: whitesmoke;
  }
}

.selected {
  text-decoration: underline;
  &:hover {
    color: #e53935;
  }
}

.logo {
  font-family: "Cinzel Decorative", cursive;
  font-size: 60px;
  height: 150px;
  width: 150px;
  position: relative;
  top: -60px;
  left: -40px;
  padding: 10px;
  border-radius: 50%;
  color: #e53935;
  z-index: 3;
  &:hover + div {
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  &:hover + div > div {
    transform: rotate(45deg);
    transition: 0.2s;
  }
}

.circle-menu {
  transition: 0.2s;
  position: absolute;
  transform: rotate(45deg);
  top: -300px;
  left: -300px;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-right: 300px solid transparent;
  border-top: 300px solid transparent;
  border-left: 300px solid transparent;
  border-bottom: 300px solid lightgray;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  .menu-button {
    position: absolute;
    z-index: 3;
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  .contact {
    bottom: -237px;
    right: 27px;
  }
  .projects {
    bottom: -232px;
    right: -84px;
  }
  .media {
    bottom: -195px;
    right: -150px;
  }
  &:hover {
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  &:hover > div {
    transform: rotate(45deg);
    transition: 0.2s;
  }
}
