.Media {
  height: 100vh;
  background-color: #e9e9eb;
}

.media-container {
  text-align: center;
  display: flex;
  width: 50vw;
  height: 40vw;
  margin: 0 auto;
  flex-direction: column;
}

.media-header-container {
  display: block;
}

.media-header {
  font-family: "Crete Round", serif;
  color: #e53935;
}

.image {
  width: 40vw;
  height: 30vw;
  margin: 0 auto;
}
